@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CLEANING</h1>
    <p class="alert alert-primary">МЫ ДЕЛАЕМ КРАСИВО И КЛАССНО</a>.</p>
</div>
<div class="text-center">
    <img src="https://i.pinimg.com/564x/44/52/5b/44525ba0b9fe0732e39b27e63b44ce92.jpg" class="img-fluid" alt="Responsive image">
    <p>НАШ ТЕЛЕФОН:</p>
    <p>88005553535</p>
</div>

