@model List<Student>
@using StudentData

@{
    ViewData["Title"] = "Test Page";
}
<div class="text-center">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th></th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.LastName</td>
                <td>@student.FirstName</td>
                <td>@student.Midname</td>
                <td>
                    <a href="Edit/?id=@student.Id">Редактировать</a>
                    <a href="Delete/?id=@student.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>
