@{
    ViewData["Title"] = "Home Page";
    DateTime CurrentTime = DateTime.Now;
    int[] TestArray = { 1, 10, 100, 24 };
}

<div class="text-center">
    <h1 class="display-4">Тестовая форма</h1>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" action="/Home/TestPage" class="text-start">
        <div class="mb-3">
            <label for="firstName">Имя</label>
            <input id="firstName" name="firstName" class="form-control" type="text" />
        </div>
        <div class="mb-3">
            <label for="lastName">Фамилия</label>
            <input id="lastName" name="lastName" class="form-control" type="text" />
        </div>        
        <div class ="mb-3">
            <label for="midName">Отчество</label>
            <input id="midName" name="midName" class="form-control" type="text" />
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
